*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /*padding: 0;
    margin: 0;*/
}

/*header*/
.navbar{
    width: 85%;
    margin: 1em auto;
}

        .navbar h1{
            font-weight: bolder;
            color: rgb(196, 140, 94);
            text-align: left;
            float: left;
        }

        .navbar ul{
            margin-left: auto;
            text-align: right;
            float: right;
        }

        .navbar ul li{
            display: inline;
            list-style: none;
            margin-left: 20px;
        }

        .navbar ul li a{
            color: black;
            text-decoration: none;
        }

/*banner*/
.banner{
    background: url(../images/banner-bg.jpg) ;
    background-size:cover;
    background-repeat: no-repeat;
    padding: 300px 380px 300px 100px;
    clear: both;
}

            .banner h1{
                font-size: 45px;
                color: rgb(228, 158, 100);
                display: inline;
            }

            .banner h1 span{
                color: rgb(212, 136, 136);
            }

            .banner p{
                color: white;
                font-weight: lighter;
                /*display: inline;*/
            }

            .banner a{
                background-color: rgb(63, 63, 63);
                color: white;
                padding: 10px 15px;
                text-decoration: none;
                /*display: inline-block;*/
            }


.content1{
        /*border: black solid 2px;*/
        width: 63%;
        margin: 2% 17.5%;
        padding: 0;
    }
            .content1 h2{
                text-shadow: 2px 2px 3px rgb(104, 104, 104);
                font-size: 30px;
                text-transform:uppercase;
                color: white;
                text-align: left;
            }
            .content1 a{
                color: white;
                font-weight: bolder;
                text-transform:uppercase;
            }
    .content-con::after{
        content: "";
        clear: both;
        display: table;
    }

    .content-container{
            float: left;
            height: 400px;
            padding: 5% 0 0 50px;
            margin-left: 1%;
            width: 49%;
            display: inline-block;
    }
    /* Seasonal Coffeee Flavours*/
        .season{
            background: url(../images/ads-img1.jpg) no-repeat;
            background-size: cover;
        }

        /* Coffee Bundle Packages */
        .bundle{
            background: url(../images/ads-img2.jpg) no-repeat;
            background-size: cover;
        }

/*Merchandise*/
.merchandise{
        width: 95%;
        height: auto;
        clear: both;
        margin: 2% auto;
    }
        .merHeader{
            text-align: center;
        }

        .merHeader p{
            color: rgb(253, 187, 110);
            font-style: italic;
        }

        .merHeader h1{
            color: rgb(0, 0, 0);
            text-transform: uppercase;
            text-decoration: underline;
        }
        .row{
            padding-left: 16%;
            padding-right: 10%;
        }
                .merGoods{
                    height: 450px;
                    float: left;
                    margin-left: 10px;
                }

                .merGoods h3{
                    text-transform: capitalize;
                    line-height: 0%;
                }
                .merGoods p{
                    text-transform: capitalize;
                    line-height: 0%;
                }

.discount{
    clear: both;
    background-image: url(../images/discount-img.jpg);
    background-size: cover;
    background-position: center;
    width: 63%;
    height: 400px;
    text-align: center;
    padding-top: 5%;
    margin-left: 18%;
}

        .discount p{
            color: white;
            text-shadow: 1px 1px 3px black;
            font-style: italic;
        }
        .discount h1{
            color: white;
            text-transform: uppercase;
            line-height: 20px;
            text-shadow: 1px 1px 3px black;
        }
        .discount a{
            color: rgb(34, 34, 34);
            background-color: rgb(226, 226, 226, 0.7);
            padding: 10px 20px;
            text-transform: capitalize;
            text-decoration: none;
            font-weight: bolder;
        }

.merchandise2{
    width: 95%;
    height: auto;
    margin: 40px auto;
    padding: 3% 15%;
    clear: both;
}

        .mer2Header{
            text-align: center;
        }

        .mer2Header p{
            color: rgb(253, 187, 110);
            font-style: italic;
        }

        .mer2Header h1{
            color: rgb(0, 0, 0);
            text-transform: uppercase;
            text-decoration: underline;
        }

                .mer2Goods{
                    height: 450px;
                    float: left;
                    margin-left: 10px;
                }

                .mer2Goods h3{
                    text-transform: capitalize;
                    line-height: 0%;
                }
                .mer2Goods p{
                    text-transform: capitalize;
                    line-height: 0%;
                }

.articles{
    clear: both;
    width: 68%;
    margin: 0 18%;
    height: auto;
}

        .articles h1{
            color: white;
            text-transform: uppercase;
            text-shadow: 1px 1px 3px black;
        }
        .articles a{
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            text-shadow: 1px 1px 3px black;
        }

        .articleBox{
            width: 45%;
            height: 400px;
            /*float: left;*/
            margin-right: 2%;
            margin-bottom: 2%;
            padding:7%;
            display: inline-block;
        }

        .article1{
            background-image: url(../images/ads-img3.jpg);
            background-size: cover;

        }
        .article2{
            background-image: url(../images/ads-img4.jpg);
            background-size: cover;
        }
        
        .article3{
            background-image: url(../images/ads-img5.jpg);
            background-size: cover;

        }
        .article4{
            background-image: url(../images/ads-img6.jpg);
            background-size: cover;
        }


.forms{
    /*background: red;*/
    height: auto;
   /*margin-top: 50px;
    margin-bottom: 50px;*/
    width: 68%;
    clear: both;
    margin: 0 auto;
    line-height: 180%;
    padding: 2%;
}


.forms h1{
    text-transform: uppercase;
    text-align: center;
}

.resForm h1, h2{
    text-align: center;
    text-transform: capitalize;
}
.resForm h2{
font-size: 15px;
}
.resForm label{
    text-transform: capitalize;
    font-weight: bold;
}
.resAlign{
    text-align: center;
}
        .resForm::after{
            content: "";
            clear: both;
            display: table;
        }
        .resFormLeft{
            float: left;
            background: rgb(235, 235, 235);
            height: 580px;
            width: 48%;
            padding: 2%;
            margin-top: 0;
            display: inline-block;
            margin-right: 3%;
        }

        .resFormRight{
            float: left;
            background: rgb(235, 235, 235);
            height: 580px;
            width: 48%;
            padding: 2%;
            margin-bottom: 0;
            display: inline-block;
        }

.sendButton{
    width: 100%;
    background-color: rgb(224, 177, 146);
    padding: 2% 0;
    border-style: none;
    font-weight: bolder;
}
.formBox{
    width: 100%;
    height: 7%;
    border-style: none;
}

.formBox1{
    width: 100%;
    height: 25%;
    border-style: none;
}

.ccAlign{
    margin-left: 41%;
}

.bottomContent{
    background-image: url(../images/footer-img.jpg);
    background-size: cover;
    height: 375px;
    clear: both;
    padding: 2% 5%;
    margin-top: 50px;
    color: white;
}
.bottomContent h2{
    text-transform: uppercase;
    text-align: left;
    font-size: 17px;
    line-height: 20px;
    font-weight: bolder;
}
.bottomContent h4{
    text-transform: capitalize;
    font-size: smaller;
}
.colorp{
    color: rgb(209, 166, 85);
    font-size: smaller;
}
    .bottConAll{
        padding-left: 15%;
        padding-bottom: 1%;
    }

        .bottCon1{
            float: left;
            width: 19%;
            margin-right: 3%;
            display: inline-block;    
        }
        .ophour1{
            font-weight: bold;
            font-size: 13px;
        }
        .ophour2{
            font-size: 13px;
        }

    .searchButton{
        width: 30%;
        background-color: rgb(224, 177, 146);
        padding: 2% 0;
        border-style: none;
        font-weight: bolder;
        font-size: 10px;
        height: 25px;
    }
    .searchBar{
        width: 66%;
        height: 25px;
        border-style: none;
    }

.footer{
    background: rgb(88, 49, 49);
    color: white;
    height: auto;
    padding: 15px 50px;
    margin: 0;
}
    .cofBean{
        text-transform: uppercase;
        float: left;
        /*border: 2px solid red;*/

    }
    .socmed{
        margin-left: 38%;
        /*border: 2px solid red;*/
        display: inline-block;
        margin-top: 20px;
    }

    .copyR{
        float: right;
        margin-bottom: 150px;
       /*border: 2px solid red;*/
        display: inline-block;
        margin-top: 10px;
    }